 /* ------------ Dashboard ------------ */
 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  } */
  
  .login {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 94%;
  }
  
  .password-field {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
  }
  #message{
    color: #9d0909;
    /* margin: 100px auto; */
    /* width: 248px; */
  }
  .hide{
    display: none;
  }

  /* ----------------------------- */

  body {
    background: linear-gradient(to bottom, #c2e59c, #64b3f4);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
  }
  .skew-bg {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    transform: skewY(-20deg);
    transform-origin: bottom left;
    background: #2222221a;
    z-index: -1;
  }
  .login-form {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .login-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .login-form button {
    background: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-form button:hover {
    background: #3367d6;
  }